body{
    width: 100%;
    padding: 0rem;
    margin: 0rem;

    header{
        position: sticky;
        top: 0rem;
        left: 0rem;
        // width: 100%;
        background: rgba($color: #000000, $alpha: .25);
        padding: 0rem .5rem;

        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;

            h1 {
                color: gold;
                cursor: pointer;

                &:hover{
                }

                span {
                    color: red;
                }
            }

            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                padding: 0rem;
                margin: 0rem;
                margin-right: 20%;

                li {
                    padding: 0rem 1rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    cursor: pointer;

                    &:hover {
                        color: gray;
                        transition: all .5s;
                    }
                }
            }
        }
    }

    .hero{
        width: 100%;
        height: 100vh;

        .hero-img{
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0rem;
            left: 0rem;
            background: url('/images/user_picture.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateX(100%);
            z-index: -100;
        }

        .hero-img-first{
            transform: translateX(50%);
            transition: 2s;
        }

        h2,a {
            transition: all 5s;
            margin: 0rem;
            transform: translateX(0);
        }

        .hide{
            transform: translateX(-100%);
            transition: all 2s;
            display: none;
        }
    }

}
